body {
  font-family: Arial, sans-serif;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
  color: rgb(48, 167, 48);
}

#chat {
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 400px;
  width: 400px;
  overflow-y: auto;
  padding: 10px;
  background-color: #000000;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.message {
  margin: 5px 0;
  padding: 8px 12px;
  border-radius: 12px;
  max-width: 80%;
  word-wrap: break-word;
}

.message.you {
  background-color: rgb(48, 167, 48);
  align-self: flex-end;
}

.message.jarvis {
  background-color: #f8f6f6;
  align-self: flex-start;
}

#messageInput {
  width: 300px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 12px;
  border: none;
  background-color: #000509;
  color: rgb(48, 167, 48);
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ccc;

}

button:hover {
  background-color:rgb(48, 167, 48);
  color: #000509;
}
